.container{
    display: 'flex';
    justify-content: space-evenly;
    align-items: center;
}
.box{
    flex: 1;
}
.middle-box{
    flex: 1;
}

.student_list::-webkit-scrollbar-thumb {
    background-color: #FF9E6C;
    border-radius: 8px;
}

.student_list::-webkit-scrollbar {
    width: 8px;
}