
.form_img_container{
  display:flex;
  position:relative;
}

.img_logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
}

.img_slider {
    transition: opacity 0.5s ease; 
    border-radius: 20px 0 0 20px; 
    flex:2;
  }

  
  

.form-container{
    border-radius: 0 20px 20px 0;
    background: #F6F7F8;
    flex: 1;
    padding: 25px 50px;
}

  /* @media screen and (min-width: 980px) and (max-width: 1279px) {
    
     
} */

@media screen and (min-width: 601px) and (max-width: 979px) {
     
    .img_slider
   {
      
      display: none;
      }
      .form-container{
        border-radius: 20px;
      }
      .form_img_container{
        padding: 30px;
      }
      .img_logo {
        top: 40px;
        left: 40px;
        width: 25px;
        height: 25px;
      }

}

@media screen and (max-width: 600px) {
     
    .img_lider
   {
        display: none;
      
      }
    
    .form-container{
        border-radius: 20px;
    }
    .form_img_container{
      padding: 30px;
    }
    .img_logo {
      top: 40px;
      left: 40px;
      width: 25px;
      height: 25px;
    }

}

  
