* {
    margin: 0;
  }

/*---------For Calendar -Start---------*/
.fc .fc-col-header-cell-cushion {
    padding: 20px 4px;
}
.fc-col-header-cell {
    background-color: #FFDDC3;
}
.fc .fc-scrollgrid-section-body table, .fc .fc-scrollgrid-section-footer table{
    background: #FFF8F2;
}
.fc .fc-button-primary,
.fc .fc-button-primary:hover,
.fc .fc-button-primary:focus,
.fc .fc-button-primary:active,
.fc-button-primary:active,
.fc-button-primary:focus{
    background-color: #ffffff;
    border-color: #ffffff;
    color: rgb(0, 0, 0);
    border
}

    
